@import "../../assets/constants.sass";
    
.simulation-panel
    .simulation-panel__creature-header
        padding: 5px;
        border: 1px solid $main-color;
        font-weight: bold;
        margin: 5px;
        border-radius: 3px;
        color: white;
        display: flex;
        justify-content: space-between;
        div
            text-align: center;

    button 
        width: 100px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        color: white;
        border: 1px solid $secondary-color;
        background: transparent;
        cursor: pointer;
        
