<div class="simulation-panel">
    <div class="simulation-panel__creature-controls">
        <div class="simulation-panel__creature-controls__section">
            <button mat-raised-button color="primary" (click)="addNew()">Add creature</button>
            <input type="text" [(ngModel)]="creature.name" />
        </div>
        <div class="simulation-panel__creature-controls__section">
            <button mat-raised-button color="primary" (click)="addNewObstacle()">Add obstacle</button>
        </div>
    </div>

    <app-creature 
        *ngFor="let creature of creatures" 
        [data]="creature"
        (refreshComponent)="refresh()" 
        [showExtendedData]="isOpened(creature.id)"
        (toggleData)="toggleExtendedData(creature.id)"></app-creature>
</div>