@import "../../assets/constants.sass";
    
.test
    button 
        width: 100px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        color: white;
        border: 1px solid $secondary-color;
        background: transparent;
        cursor: pointer;