@import "../../assets/constants.sass";
    
.simulation-panel
    padding: 10px 10px 10px 60px;
    .simulation-panel__creature-header
        padding: 5px;
        border: 1px solid $main-color;
        font-weight: bold;
        margin: 5px;
        border-radius: 3px;
    .simulation-panel__creature-controls 
        height: 50px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-around;
        .simulation-panel__creature-controls__section
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid #ddd;
            padding: 0 10px;
            min-width: 300px;
    table
        width: 100%;
        
