<!-- <div class="creature"> -->
    <!-- <div class="creature__baseData"> -->
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.position.axisX}}, {{data.position.axisY}}</td>
        <td>{{data.lifeTime}}</td>
        <td>{{data.age}}</td>
        <td>{{data.isAlive}}</td>
        <td>
            <button (click)="moveCreature($event, 'UP')"><i class="fas fa-angle-up"></i></button>
            <button (click)="moveCreature($event, 'RIGHT')"><i class="fas fa-angle-right"></i></button>
            <button (click)="moveCreature($event, 'DOWN')"><i class="fas fa-angle-down"></i></button>
            <button (click)="moveCreature($event, 'LEFT')"><i class="fas fa-angle-left"></i></button>
        </td>
    <!-- </div> -->
    <!-- <app-creature-inventory [inventory]="inventory" *ngIf="isOpen"> -->
    <!-- </app-creature-inventory> -->
<!-- </div> -->