$font-stack: Verdana;
$main-color: #00d3ff;
$secondary-color: #b25300;

.creature
    padding: 5px;
    border: 1px solid $main-color;
    font-weight: bold;
    margin: 5px;
    border-radius: 3px;
    color: white;

    .creature__baseData
        width: 100%;
        display: flex;
        justify-content: space-between;
        div
            text-align: center;