<div class="creature" [ngClass]="{'not-alive': !data.isAlive}">
    <div class="base-info" (click)="toggle()">
        <div> 
            <div>
                <img *ngIf="data.type === 'obstacle'" src="../../assets/images/Snow mountain free icon 1.svg">
                <img *ngIf="data.type === 'creature'" src="../../assets/images/profile.svg">
            </div>
            <div class="id-label">
                {{data.id}}
            </div>
        </div>
        <div>
            {{data.name}}
        </div>
        <div>
            {{data.age || 0}}/{{data.lifeTime || 0}}
        </div>
        <div>{{data.position.axisX}}, {{data.position.axisY}}</div>
        <div *ngIf="data.isAlive">
            <button (click)="moveCreature($event, 'UP')"><i class="fas fa-angle-up"></i></button>
            <button (click)="moveCreature($event, 'RIGHT')"><i class="fas fa-angle-right"></i></button>
            <button (click)="moveCreature($event, 'DOWN')"><i class="fas fa-angle-down"></i></button>
            <button (click)="moveCreature($event, 'LEFT')"><i class="fas fa-angle-left"></i></button>
        </div>
    </div>

    <app-creature-inventory [inventory]="data.inventory" *ngIf="showExtendedData"></app-creature-inventory>
</div>