<nav id="menu">
    <div class="nav-content">
        <div class="buttonList">
            <button type="button" (click)="goTo('home')"><i class="icon-cog-alt"></i></button>
            <button type="button" (click)="goTo('simulation')"><i class="icon-gamepad"></i></button>
            <button type="button" (click)="goTo('playground')"><i class="icon-th-list"></i></button>
            <button type="button" (click)="goTo('contact')"><i class="icon-mail"></i></button>
        </div>
    </div>
</nav>