<div *ngIf="showCalendar" class="datepicker-window">
  <div class="year-bar">
      <button (click)="prevYear()">
          <i class="icon-left-open" ></i>
        </button>
        <span>{{model.getFullYear()}}</span>
        <button (click)="nextYear()">
          <i class="icon-right-open" ></i>
        </button>
  </div>
  <div class="month-bar">
    <button (click)="prevMonth()">
      <i class="icon-left-open" ></i>
    </button>
    <span>{{model.toLocaleString('default', { month: 'long' })}}</span>
    <button (click)="nextMonth()">
      <i class="icon-right-open" ></i>
    </button>
  </div>
  <app-calendar [(data)]="innerModel"></app-calendar>
  <app-timepicker [(data)]="innerModel"></app-timepicker>
  <div class="control-bar">
    <button (click)="submit()">Submit</button>
  </div>
</div>

<button (click)="showButton()">Publish Later | {{model | date: "dd-MM HH:mm"}}</button>