<div *ngIf="showCalendar" class="datepicker-window">
  <div class="year-bar">
      <button (click)="prevYear()" [disabled]="!checkPrevYearAvailable()">
          <i class="icon-left-open" ></i>
        </button>
        <span>{{innerModel.getFullYear()}}</span>
        <button (click)="nextYear()" [disabled]="!checkNextYearAvailable()">
          <i class="icon-right-open" ></i>
        </button>
  </div>
  <div class="month-bar">
    <button (click)="prevMonth()" [disabled]="!checkPrevMonthAvailable()">
      <i class="icon-left-open" ></i>
    </button>
    <span>{{innerModel.toLocaleString('default', { month: 'long' })}}</span>
    <button (click)="nextMonth()" [disabled]="!checkNextMonthAvailable()">
      <i class="icon-right-open" ></i>
    </button>
  </div>
  <app-calendar [(data)]="innerModel" [min]="min" [max]="max"></app-calendar>
  <app-timepicker [(data)]="innerModel" [min]="min" [max]="max"></app-timepicker>
  <div class="control-bar">
    <button (click)="submit()">Submit</button>
  </div>
</div>

<button (click)="showButton()">Publish Later | <span *ngIf="model">{{model | date: "dd-MM HH:mm"}}</span></button>